@import "fonts.css";
@import "helper.css";


.text-center.my-header {
    background: #a29bfe;
    height: 100px;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.ltr {
    direction: ltr;
}

.select2-results__option--selectable,.select2-selection__rendered {
    text-align: right;
    direction: rtl;
}